{% load staticfiles %}

<html>

<head>
  <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Syncopate:700">
  <link rel="stylesheet"
        href="{% static "css/style.css" %}">

  <title>Site-wide Base.html</title>
</head>

<body>
  <div class="page-header">
    <h1><a href="{% url "index" %}">Site-Wide base.html</a></hi>
    <p><ul>
      <li><a href="{% url "index" %}">Home</a></li>
      <li><a href="{% url "blog:post_list" %}">Blog</a></li>
      <li><a href="{% url "about" %}">About Us</a></li>
      <li><a href="{% url "contact" %}">Contact Us</a></li>
    </ul></p>
  </div class="page-header">

  <div class="content container">
    <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock content %}
        </div class="col-md-8">
    </div class="row">
</div class="content container">

</body>

</html>
